<div class="container">
  <ng-template #errors>
    <div class="text-bg-danger">
    {{errorMessage}}
    </div>
  </ng-template>
  <div class="card" *ngIf="products ; else errors">
    <div class="card-header">
      Products Lists
    </div>
    <div class="card-body">
      <form [formGroup]="searchFormGroup"  (ngSubmit)="handleSearchProduct()">
        <div class="input-group">
           <label class="input-group-text"> Keyword :</label>
          <input type="text" class="form-control" formControlName="keyword">
          <button class="btn btn-info">
            <i class="bi bi-search"></i>
          </button>
        </div>

      </form>
      <table class="table">
        <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            NAME
          </th>
          <th>
            PRICE
          </th>
          <th>
            PROMOTION
          </th>
          <th>
            ACTIONS
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products">
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>
              <i *ngIf="p.promotion" class="bi bi-check-circle-fill text-success"></i>
            </td>
          <td>
            <button (click)="handleSetPromotions(p)" [ngClass]="p.promotion?'btn btn-danger':'btn btn-success'">
              <span *ngIf="p.promotion">
                Promo off
              </span>
              <span *ngIf="!p.promotion">
                Promo on
              </span>
            </button>
          </td>
            <td>
              <button (click)="handleDeleteProduct(p)" class="btn btn-danger">
                <i class="bi-trash"></i>
              </button>
            </td>

        </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let item of Array.from({ length: totalPages }); let i = index">
          <a
            (click)="gotoPage(i)"
            [ngClass]="i === currentPage ? 'btn-info' : 'btn-outline-info'"
            class="btn ms-1 mt-1"
          >
            {{ i }}
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
